extends layout

block content
  h1= 'CollabIDE'
  p Welcome to #{title}, login into your project by providing your credentials and the name of the project.
  form(action="login" name="project-login", method="post")
    div.container
        div.input.row
            .col-md-2
                span Username:
            .col-md-2
                input(type="text", name="username")
        div.input.row
            .col-md-2
                span Password:
            .col-md-2
                input(type="password",name="password")
        div.input.row
            .col-md-2
                span Project:
            .col-md-2
                input(type="text",name="project")
        div.actions.row
            .col-md-6
                input(type="submit", value="Login") 
