extends project-layout

block content
  #firepad
  #menu-container
    .container
    #menu-header.row 
      .col-md-12
        .menu-heading Menu
    #menu-edition.row
      .col-md-12
        .menu-heading Edition mode
    #menu-developers.row
      .col-md-12
        .menu-heading Developers
        #developers-list
    #menu-file.row
      .col-md-12
        .menu-heading File generation
      
        

