extends project-layout

block content
  #firepad
  #menu-container
    .container
    #menu-header.row 
      .col-md-12
        .menu-heading
        h2 Menu
    #menu-edition.row
      .col-md-12
        .menu-heading Edition mode
        #edition-options
          .row.option-check
            input(type="radio", name="selected_edition_mode", value="1" checked="true")
            span  Contributions
          .row.option-check
            input(type="radio", name="selected_edition_mode", value="0")
            span  Product generation
    #menu-developers.row
      .col-md-12
        .menu-heading Developers
        #developers-list
    #menu-file.row
      .col-md-12
        .menu-heading File generation
        #generation-options
        .row.generation-item
          input#generated-file-name.generation-file-name(type="text", name="filename" placeholder="File name")
        .row.generation-item
          a#generate-button.btn.btn-primary.disabled.generation-button(name="filebutton") Generate File
        

